<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.b4kwallpapers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.apps.b4kwallpapers.Splashscreen"
            android:theme="@style/Splashscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3609953011019731~7349667013"/>
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <activity android:name="com.apps.b4kwallpapers.About"
            android:theme="@style/AppTheme.NoTitle" ></activity>


        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.SlicesSkyWallpapers"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.PyroWallpapers"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.PatternsWallpapers"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.NatureWallpapers"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.DoubleExposureWallpapers"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.CreepyWallpapers"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.CitiesWallpapers"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.BlackWallpapers"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.AnimalsWallpaper"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.apps.b4kwallpapers.WallpaperClasses.AbstractWallpapers"
            android:theme="@style/AppTheme.NoTitle">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.apps.b4kwallpapers.MainActivity" />
        </activity>

        <activity
            android:name="com.apps.b4kwallpapers.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>